body, html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  touch-action: manipulation;
}

#calcContainer {
  width: 380px;
  height: auto;
  background-color: #2e2929;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border: 1px solid black;
  border-radius: 30px;
}

#screen {
  height: auto;
  width: auto;
  border: 1px solid black;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-radius: 20px;
}

#expressionMemory {
  padding-top: 10px;
  height: 150px;
  width: 100%;
  font-size: 20px;
  background-color: #f2f2f2;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

#expressionDisplay {
  height: 60px;
  width: 100%;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#numContainer {
  width: 250px;
  height: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 10px;
  gap: 3px;
}

#operatorContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}

#numAndOperatorContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

#clearBtn {
  width: 100px;
  height: 40px;
  margin: 5px;
}

#clearMemBtn {
  width: 100px;
  height: 40px;
  margin: 5px;
  font-size: 16px;
}

#clearBtnArea {
  display: flex;
  justify-content: center;
  align-items: center;
}

.num {
  width: 80px;
  height: 80px;
}

.operator {
  width: 70px;
  height: 45px;
}

#equals {
  height: 55px;
  background-color: #c2840f;
}

#equals:hover {
  background-color: #f2bb54;
}

#expressionUsed:hover {
  background-color:#8a8a8a;
}

button {
  font-size: 25px;
  border-radius: 0px;
  border: 1px solid black;
  transition-duration: 0.1s;
  background-color: #4f4f4f;
  color: white;
}

button:hover {
  background-color: #e3e3e3;
  color: black;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24), 0 2px 2px 0 rgba(0,0,0,0.19);
}