body, html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: inherit;
}

#calcContainer {
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border: 1px solid black;
  padding-left: 20px;
  padding-right: 20px;
}

#screen {
  height: 100px;
  width: auto;
  border: 1px solid black;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

#numContainer {
  width: 250px;
  height: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 10px;
  gap: 5px;
}

#operatorContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

#numAndOperatorContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#clearBtn {
  width: 100px;
  height: 40px;
  margin-bottom: 30px;
}

#clearBtnArea {
  display: flex;
  justify-content: center;
  align-items: center;
}

.num {
  width: 80px;
  height: 80px;
}

.operator {
  width: 70px;
  height: 35px;
}

#equals {
  height: 50px;
}