body, html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: inherit;
}

#calcContainer {
  width: 380px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
}

#screen {
  height: 200px;
  width: auto;
  border: 1px solid black;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-top: 10px;
}

#numContainer {
  width: 250px;
  height: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 10px;
  gap: 5px;
}

#operatorContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

#numAndOperatorContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#clearBtn {
  width: 100px;
  height: 40px;
  margin-bottom: 30px;
}

#clearBtnArea {
  display: flex;
  justify-content: center;
  align-items: center;
}

.num {
  width: 80px;
  height: 80px;
}

.operator {
  width: 70px;
  height: 45px;
}

#equals {
  height: 55px;
}

button {
  font-size: 25px;
  border-radius: 0px;
  border: 1px solid black;
  transition-duration: 0.1s;
}

button:hover {
  background-color: white;
  color: black;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24), 0 2px 2px 0 rgba(0,0,0,0.19);
}